.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left:100px;
  padding-right:100px;
}

#originalTxt{
  display:inline-block;
  overflow-wrap: anywhere;
  width:80%;
  height: 300px;  
}

#btn{
  display:inline-block;
  width:80%;
  height: 50px;
  font-size: 20px;
}

#english{
  display: block;
  /* 行間 */
  line-height: 250%;
  /* 文字の大きさ */
  font-size: 1.5em;
  /* 文字折り返し */
  overflow-wrap: normal;
}

/* ルビ機能 (課題) 内包する要素の文字選択ができない */
[data-ruby] {
    position: relative;
}

[data-ruby]::before {
    content: attr(data-ruby);
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 13px;
}

.tooltip {
  height: 40px;
}

.tooltip .tooltiptext {
  font-size:10px;
  visibility: hidden;
  width: 200px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  
  /* tooltip の位置 */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  margin-left: 18px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.hint{
  resize: none;
  width: 200px;
  height: 30px;
  font-size: 1px;
}
